In [1]:
import pandas as pd

In [2]:
obj = pd.Series([4,5,6,7])
obj
obj.index #获取索引
obj.values #获取值
obj = pd.Series([4,5,6,7],index = ['3','4','5','6'])
obj[["5","6"]]
obj[obj>5]
'6' in obj # 默认是比较是否在index中
obj2 = pd.Series({"a":3,"v":54,"b":4,"c":43}) #通过字典构造Series
status = ["a","b","c","d"]
obj3 = pd.Series(obj2,index=status)
pd.notnull(obj3)
obj3.isnull()
(obj2).name="data"
obj2.index.name = "index"

1. series是一位的数组型对象，包含值和索引(index),index可以是数值或者字符,可以通过index来索引
2. 也可以通过布尔来索引
3. isnull 和notnull判断是否为NAN
4. series 和index都有那么属性

In [3]:
frame = pd.DataFrame({"data":[1,2,3,4,5,6],"year":[5,6,7,8,8,9]})
frame.loc[0]
del frame["data"]
pop = {"nea":{2001:2.3,2002:204},"bab":{2001:2,2002:3,2004:3}}
frame=pd.DataFrame(pop)
frame.columns.name="dddd"
frame.index.name="aaaa"
frame

dddd    nea  bab
aaaa
2001    2.3    2
2002  204.0    3
2004    NaN    3

1. .head()显示头部的5行
2. dataframe一列可以按照字典或者属性一样索引 frame["data"] frame.data
3. loc索引行
4. del删除列
5. 对列的修改会反应到原dateframe上
6. .T转置

In [78]:
obj4 = pd.Series(range(3),index=["a","b","v"])
# obj4.index[2]='4'
"nea" in frame.index

False

In [89]:
obj=pd.Series(range(4),index=range(4))
obj.index = ["a","b","c","t"]
# obj[1:3]
obj["b":]

b    1
c    2
t    3
dtype: int64

1. 重建索引 reindex 会按照新的index进行排序，传入method方法将缺失值的填充方法，
2. drop 删除
3. loc 根据轴的信息进行索引,iloc是根据数值索引，0123这种进行索引,也可以用索引来切片iloc[0:2]
4. 两个dataFrame相加，会更具索引相加，只要有一个的索引是空，则返回NAN
5. dataframe-series将会按照索引减并传播到各行,如果某个索引不在的话将会重建索引，并填充为Nan，
6. sort_values()排序，默认升序，缺失值移植末尾

In [11]:
frame.iloc[2:]

dddd  nea  bab
aaaa
2004  NaN    3

In [17]:
se = frame["nea"]

In [23]:
frame

dddd    nea  bab
aaaa
2001    2.3    2
2002  204.0    3
2004    NaN    3

将函数映射到一行或一列上,每一列调用一次，

In [25]:
f =lambda x:x.max()-x.min()
frame.apply(f,axis=1)

aaaa
2001      0.3
2002    201.0
2004      0.0
dtype: float64