## 第六章 数据载入、存储及文件格式

### 读取文件

In [13]:
import pandas as pd
import numpy as np
# !type "C:\\Users\\zhangkai\\Desktop\\ex1.csv"
df = pd.read_csv("C:\\Users\\zhangkai\\Desktop\\ex1.csv",header=None)
df = pd.read_table("C:\\Users\\zhangkai\\Desktop\\ex1.csv",sep=",")
# df = pd.read_csv("C:\\Users\\zhangkai\\Desktop\\ex1.csv",names=['a','b','c','d','e',"message"],index_col=['e',"message"],skiprows=[0,1])
df = pd.read_table("C:\\Users\\zhangkai\\Desktop\\ex1.csv",sep=",",na_values={"e":["f"]})
df

   a   b   c   d   e message
0  1   2   3   4 NaN   hello
1  5   6   7   8 NaN   world
2  9  10  11  12 NaN     foo

#### 1.正则表达式"\\s+" - 匹配任意空白字符详解"\\s+"正则表达式中\s匹配任何空白字符,包括空格、制表符、换页符等等, 等价于[ \f\n\r\t\v]
#### 2.跳过指定行 
#### 3. na_values传入一个列表 标识缺失值

### 分块读取文件与保存文件

In [29]:
pd.options.display.max_rows=20
# df = pd.read_csv("C:\\Users\\zhangkai\\Desktop\\ex1.csv",nrows=4)
df = pd.read_csv("C:\\Users\\zhangkai\\Desktop\\ex1.csv",chunksize=1)
# for i in df:
#     print(i)
# df.to_csv("path",sep="",na_rep="")

   a  b  c  d   e message
0  1  2  3  4 NaN   hello
   a  b  c  d  e message
1  5  6  7  8  f   world
   a   b   c   d  e message
2  9  10  11  12  f     foo

#### 1.nrows 指定读取的行数
#### 2.chunksize 分块读取
#### 3.sep 分隔符 na_erp 缺失值标识

In [25]:
import csv
f = open("C:\\Users\\zhangkai\\Desktop\\ex1.csv")
reader = csv.reader(f)
reader
# for i in reader:
#     print(i)

### 读取json

In [32]:
import json
ajson = json.dumps({"name":"helloworld","age":12})
df = pd.read_csv("C:\\Users\\zhangkai\\Desktop\\ex1.csv")
df.to_json()

'{"a":{"0":1,"1":5,"2":9},"b":{"0":2,"1":6,"2":10},"c":{"0":3,"1":7,"2":11},"d":{"0":4,"1":8,"2":12},"e":{"0":null,"1":"f","2":"f"},"message":{"0":"hello","1":"world","2":"foo"}}'

### xml